@import "normalize.css";

body {
  position: relative;
    background: url(../img/background.svg) no-repeat center center fixed;
    background-size: 100vw 100vh;
    background-position: 0 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // for svg - preserveAspectRatio="none"
  }
  .sun {
    position: absolute;
    top: 1vh;
    right: 1vw;
    height: auto;
    width: 8vw;
  }
.cloud1, .cloud2, .cloud3 {
  position: absolute;
  left: -20vw;
}
.cloud1 {
  top: 3vh;
  height: auto;
  width: 7vw;
  opacity: 0.9;
}
.cloud2 {
  top: 1vh;
  height: auto;
  width: 5vw;
  opacity: 0.8;
}
.cloud3 {
  top: 6vh;
  height: auto;
  width: 8vw;
}
.mouse {
  position: absolute;
  width: 3vw;
}

.start {
    position: absolute;
    top: 40%;
    left: 48%;
    transform: rotateX(50%);
    background-color: green;
    width: 6em;
    height: 3em;
}
// places for hide
.places {
    position: absolute;
    // background: green;
    // border: 3px solid #ffffff;
    height: 40vh;
    width: 10em;
    max-height: 15em;
}

$numPleces: 6;
$spaceBettwen: 5%;
$topPosition: 15vh;
$j: 1;
@for $i from 1 through $numPleces {
    .places:nth-child(#{$i}) {
        @if $i <= $numPleces/2  {
            left: 50%+($i*$spaceBettwen);
            top: $topPosition*$i;
        } @else {
            right: 50%+($j*$spaceBettwen);
            top: $topPosition*$j;
            $j: $j+1;
        }
    }
}
// letters and characters
p {
    font-size: 3em;
    color: black;
    text-align: center;
    margin: 0;
}
.picture {
  position: absolute;
  top: 75vh;
  width: auto;
  height: 20vh;
  margin: auto;
  cursor: pointer;
}
.picture:before {
content: "";
display: block;
position: absolute;
background-color: transparent;
cursor: pointer;
height: 18vh;
width: 5vw;
/* plus width and height of the SVG */
}
.no-clicked {
}
.success, .miss, .win {
  position: absolute;
  top: 10%;
  left: 48%;
  transform: rotateX(50%);
  font-size: 2em;
}

$characters: 4;
$position: (80vw/$characters);
@for $i from 1 through $characters {
     div.monsters div:nth-child(#{$i}) {
        @if $i%2 == 0 {
            left: ($position*$i)-($position/4);
        }
        @else {
            left: ($position*$i)+($position/4);
        }
    }
}
.character {
  height: 15vh;
}
.capital {
    text-transform: capitalize;
}
