@import "normalize.css";

body {
    background: #ffffff;
}

.start {
    position: absolute;
    top: 40%;
    left: 48%;
    transform: rotateX(50%);
    background-color: green;
    width: 6em;
    height: 3em;
}
// places for hide
.places {
    position: absolute;
    background: green;
    border: 3px solid #ffffff;
    height: 30vh;
    width: 10em;
    max-height: 15em;
}

$numPleces: 6;
$spaceBettwen: 5%;
$topPosition: 15vh;
$j: 1;
@for $i from 1 through $numPleces {
    .places:nth-of-type(#{$i}) {
        @if $i <= $numPleces/2  {
            left: 50%+($i*$spaceBettwen);
            top: $topPosition*$i;
        } @else {
            right: 50%+($j*$spaceBettwen);
            top: $topPosition*$j;
            $j: $j+1;
        }
    }
}
// letters and characters
p {
    font-size: 3em;
    color: black;
    text-align: center;
    margin: 0;
}
.picture {
  position: absolute;
  top: 75vh;
  width: auto;
  height: auto;
  margin: auto;
}
$characters: 4;
$position: (80vw/$characters);
@for $i from 1 through $characters {
     div.monsters div:nth-child(#{$i}) {
        @if $i%2 == 0 {
            left: ($position*$i)-($position/4);
        }
        @else {
            left: ($position*$i)+($position/4);
        }
    }
}
.capital {
    text-transform: capitalize;
}
