@import "normalize.css";

.bodyMenu {
  background: url("../img/menubackground.jpg") no-repeat center center fixed;
  }
.bodyLevels {
  background: url("../img/bgBrige.svg") no-repeat center center fixed;
  // for svg - preserveAspectRatio="none"
}
.bodyMenu, .bodyLevels {
  position: relative;
  background-size: 100% 100%;
  background-position: 0 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: auto;
}

.soundButton {
  position: absolute;
  top: 5vh;
  left: 5vh;
  width: 4vw;
  height: 4vw;
}
